<%- include('./partials/header')%>
    <!-- FAQS -->
    <section class="accor py-2">
        <div class="container d-flex justify-content-center">
            <div class="col-sm-6 my-1">
                <h1 class="text-center" style="color: brown; font-size: 30px;">FAQS</h1>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is the goal of team bracket
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    No-one needs to go to bed hungry. But so many do.
                                    Bracket supporters challenge the world's governments to protect and provide for the
                                    people going
                                    hungry every day.
                                    We help Support local small businesses to grow food and keep livestock means people
                                    can earn an
                                    income,
                                    live sustainably, and keep feeding their families and communities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can I register my Resturant
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>You can register your resturant via our website.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Why should I donate to Save the Children?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Your gift, pooled with other support, will help us deliver critical aid to children
                                    and families
                                    around the world and will help prevent millions of children from going to bed
                                    hungary</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Can I choose to donate money to a specific project, country or item?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>When you donate to Team Bracket, the money will be allocated to 'general funds' which allows
                                    us to focus on where the need is greatest and respond immediately to changing
                                    priorities and global situations. It is vital that we are able to spend money where
                                    it is most needed at any given time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Do my donations qualify for Gift Aid?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Your donation qualifies for Gift Aid if you pay tax in the Nigeria, and have signed the
                                    Gift Aid declaration. Every #5 that you donate with Gift Aid is worth #1000 to Team
                                    Bracket
                                    at no extra cost to you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                How do I leave a gift to Team Bracket in my Will?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Thanks for thinking of Team Bracket make a very important contribution to our
                                    fundraising.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Why is regular giving important ?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Regular giving is the best way to support Team Bracket. It lets us plan our work more
                                    effectively: to help people to improve their lives through long-term development
                                    programmes; so we can respond to disasters and emergencies; and campaign to achieve
                                    lasting change. It also means we have a flexible and reliable income we can always
                                    count on.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center"></div>
                <div class="col-sm-12 justify-content-center py-5">
                    <h1 class="text-white text-center" style="color: brown !important;">Want Know More? <a href="what">Click Here</a> </h1>
                 
                    <p class="text-white text-center" style="color: brown !important;">Our team is happy to answer your
                        questions.
                        Contact us and we’ll be In touch
                        as soon as possible</p>
                        <h1 class="text-white text-center" style="color: brown !important;">ContactUs <a href="contact">Click Here</a> </h1>
                </div>
            </div>
    </section>

    <%- include('./partials/footer')%>