<%- include('./partials/header')%>
<section class="section wb action">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Team <span style="color: #eea412;">Bracket</span> In Action</h3>
                <p style="font-size: 21px; color: black;">We won't live with Hunger and poverty</p>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/OGB_113678_Ayesha_collecting_water.ad3080a4.fill-480x480.jpg"
                            class="img-fluid rounded-start" alt="water-image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Water for all
                            </h5>
                            <p class="card-text">With clean water on tap, food can grow, disease can be defeated,
                                and people can thrive. Team Bracket is spondoring some water project in Rural Areas.</p>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="donate"><span>Make A Donation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/fighting-coronavirus.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Fighting Diseases
                            </h5>
                            <p class="card-text">We’re providing health facilities, clean water and toilets to
                                the most vulnerable communities.</p>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="donate"><span>Make A Donation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/OGB_121006.2e16d0ba.fill-480x480.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Security For All
                            </h5>
                            <p class="card-text">We provide farmers with security and good road so astomake production of farm product more easier..</p>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="donate"><span>Make A Donation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/beating-hunger.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Beating hunger
                            </h5>
                            <p class="card-text">No-one should go to bed hungry. We work to help people put food
                                back on their table, today and tomorrow. Team Bracket Is helping the less 
                                privileged to get food from resturants with leftovers</p>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="donate"><span>Make A Donation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/OGB_111375_Addises_Story_-_Ethiopi.67369eeb.fill-480x480.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Equality for all
                            </h5>
                            <p class="card-text">The potential for lasting change lies in the hands of millions of
                                people currently living in poverty.</p>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="donate"><span>Make A Donation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/OGB_121006.2e16d0ba.fill-480x480.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Climate change
                            </h5>
                            <p class="card-text">Preparing, adapting and responding to extreme weather saves lives
                                and helps people stay safe for the future.</p>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="donate"><span>Make A Donation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer')%>